body {
  font-family: Inconsolata, monospace;
  color: #000080;
  background-color: #D5F3FE;  
}
.page-subtitle {
  font-family: Inconsolata, monospace;
  font-size: 20px;
  color: #000080
}
.img {
  width: 500px
}
.page-logo {
  width: 50px;
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.page-logo2 {
  width: 50px;
  position: absolute;
  top: 10px;
  right: 10px;
}
input {
  margin: 8px;
  padding: 8px 8px;
  border-radius: 6px;
  border-style: none;
}
button {
  margin-top: 25px;
  padding: 10px 30px;
  border-radius: 15px;
  background: #A7C7E7;
  font-size: 20;
  font-family: "Inconsolata", monospace;
}
