body {
  font-family: Inconsolata, monospace;
  color: #000080;
  background-color: #D5F3FE;  
}
.page-subtitle {
  font-family: Inconsolata, monospace;
  font-size: 20px;
  color: #000080
}
.img {
  width: 500px
}
.page-logo {
  width: 50px;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

